body {
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    height: 99vh;
    width: 99vw;
    background-color: #1e1e1e;
    color: #aaa;
    font-family: consolas, '微軟正黑體';
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
}

body>div {
    flex: 1;
    min-width: 400px;
}

.editor {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.errors {
    height: 30%;
    overflow-y: auto;
}

.errors:not(.has-error) {
    display: none;
}

.errors li {
    color: crimson;
}

#editor {
    width: 95%;
    height: 100%;
    min-height: 300px;
    max-height: 100vw;
}

.console-tools {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    overflow: hidden;
}

.console-tools .display {
    flex: 1;
    overflow: auto;
    color: #aaa;
    background-color: #2e2e2e;
    min-height: 100px;
}

.console-tools>div {
    width: 95%;
}

.console-tools .in .toolbar input {
    font-size: 2em;
    background-color: #2e2e2e;
    border: 1px solid #aaa;
    color: #aaa;
    flex: 8;
    width: 95%;
}

.console-tools .in .toolbar button {
    flex: 2;
    font-size: 2em;
}

h2 .js-pg-button {
    height: 32px;
    width: 32px;
    font-size: 0.8em;
}

h2 .js-pg-button[share] {
    width: initial;
}

h2 .js-pg-button:focus {
    outline: none;
}

.js-pg-button.memory[current] {
    border: 1px solid chocolate;
}

.js-pg-button {
    background-color: #2e2e2e;
    border: 1px solid #aaa;
    color: #aaa;
    cursor: pointer;
    font-family: consolas, '微軟正黑體';
}

.js-pg-button button:disabled {
    opacity: .2;
}

.console-tools .out {
    flex: 1;
}

.console-tools .er {
    flex: 1;
}

.console-tools .er pre {
    color: crimson;
}

.console-tools .in .toolbar {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.console-tools>div {
    display: flex;
    flex-direction: column;
}